# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3
*.env
.env

# Flask
instance/
*.log

# React
/node_modules
/build
/.env

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Mac
*.swp

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pyenv
.python-version

# App
chats
